h1 {
  animation: typing 7s steps(25), Undo-typing 7s 7s steps(24),
    blink 0.5s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  width: 34ch;
}
.alt {
  animation: typing 7s, Undo-typing 7s 7s, blink 0.5s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  font-size: 5em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 33ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.fadeIn {
  animation: fadeIn 1s;
  animation-fill-mode: both;
  font-size: 3em;
}

.wait-7s {
  animation-delay: 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: black;
}
video {
  opacity: 30%;
}
