.status-small-circle-container {
  min-width: 12px;
  min-height: 12px;
}

.status-small-circle {
  position: relative;
  bottom: 0px;
  left: 9px;
  width: 10px;
  height: 10px;
  border: solid 1px #f8f8f8;
  border-radius: 50%;
}
