.profile-skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(199, 14%, 27%);
  }
  100% {
    background-color: hsl(199, 14%, 55%);
  }
}
