.area-image-btn1 {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.area-image-btn1:hover {
  border-left: solid 5px #00ff37;
  border-right: solid 5px #00ff37;
  opacity: 50%;
}

.area-image-btn1:focus {
  border-left: solid 5px #00ff37;
  border-right: solid 5px #00ff37;
}

.area-image-btn2 {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.area-image-btn2:hover {
  border-left: solid 5px #fffb00;
  border-right: solid 5px #fffb00;
  opacity: 50%;
}

.area-image-btn2:focus {
  border-left: solid 5px #fffb00;
  border-right: solid 5px #fffb00;
}

.area-image-btn3 {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.area-image-btn3:hover {
  border-left: solid 5px #002fff;
  border-right: solid 5px #002fff;
  opacity: 50%;
}

.area-image-btn3:focus {
  border-left: solid 5px #002fff;
  border-right: solid 5px #002fff;
}

.new-campaign-btn {
  width: 170px;
  height: 50px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.new-campaign-btn:hover {
  border: solid 1px #212429;
  border-radius: 5px;
}

.draft-campaign-btn {
  width: 140px;
  height: 50px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.draft-campaign-btn:hover {
  border: solid 1px #212429;
  border-radius: 5px;
}
