/* .dropdown-btn {
  background-color: #f3f3f3 !important;
} */

.navbar-container {
  height: 80px;
}

.dropdown-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.add-campaign-btn {
  background-color: #0dcc63 !important;
  color: #f3f3f3;
  border: none;
}

.add-campaign-btn:hover {
  background-color: #42e98d !important;
}

.add-campaign-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.add-campaign-btn:active {
  transform: scale(0.99);
}

.nav-logout-btn {
  width: 120px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.nav-logout-btn:hover {
  border: solid 1px #fff;
  border-radius: 5px;
}

.nav-logout-icon {
  width: 26px;
  height: 26px;
}
