.left-dashboard-container {
  flex-wrap: wrap;
}

.dashboard-card-container {
  border: none;
  height: 300px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dashboard-card-container-right {
  border: none;
  height: 624px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.see-more-btn {
  width: 140px;
  height: 50px;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.see-more-btn:hover {
  border: solid 1px #212429;
  border-radius: 5px;
}

.profile-icon {
  width: 200px;
  height: 200px;
}

.dashboard-company-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 0.5px #e2e2e2;
}

.dashboard-add-img-small-btn-container {
  min-width: 22px;
  min-height: 22px;
}

.dashboard-add-img-small-btn {
  position: relative;
  top: 49px;
  left: 142px;
  width: 20px;
  height: 20px;
  color: #212429 !important;
  background-color: #fff;
  border-radius: 50%;
}
