.active-campaign-row-skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 30px;
}
.active-campaign-btn-skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  height: 40px;
}

.active-campaign-asset-skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(199, 14%, 27%);
  }
  100% {
    background-color: hsl(199, 14%, 55%);
  }
}
